{% extends 'base.html' %}
{% block content %}
<div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
        <h4 class="mb-0"><i class="bi bi-box-seam"></i> Nova Entrega</h4>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            
            <hr>
            <button type="submit" class="btn btn-success"><i class="bi bi-check-lg"></i> Salvar Entrega</button>
            <a href="{% url 'dashboard' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}